{% extends "themes/Default/index.html" %}

{% block body %}
	{% if errors %}
		<ul>
		  {% for error in errors %}
		 	 <li>{{ error }}</li>
		  {% endfor %}
		</ul>
	{% endif %}
	
	<form method="post">
		<h1>Add new Post</h1>
		<div>
			<p>Title:</p>
			<input name="page_title" value="" />
		</div>

		<div>
			<textarea name="page_text">
			</textarea>
		</div>
		<button type="submit" class="pure-button">Save Page</button>
	</form>
{% endblock %}
