{% extends "themes/Default/index.html" %}
{% block title %}{{ page.page_title }}{% endblock %}
{% block body %}
	<section id="submission" class="post pure-u-1"></section>

	<div id="loading"><img src="/static/images/loading_feed.gif" alt="Checking Local Feed" /></div>

	<section id="piclistings" class="post pure-u-1 hidden">
		<ul>
		</ul>
	</section>
{% endblock %}
