{% extends "themes/Default/index.html" %}
{% block title %}{{ page.page_title }}{% endblock %}
{% block body %}
  <div class="post">
    <article>
      <head>
        <h1>{{ page.page_title }}</h1>
      </head>
      <section id="body">{{ cleaned }}</section>
      {% if page.page_category %}
        <div class="page-categories">
          <ul> 
            {% for category in page.page_category %}
              <li><a href="/categories/view/{{category.category.id }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <ul>
        <li><a href="{% url action="edit" %}/{{ page.id }}">Edit</a></li>
      </ul>
    </article>
  </div>
{% endblock %}